{{ 'landing-page.css' | asset_url | stylesheet_tag }}

<div class="top_LP">
    <section class="section01">
        <div class="section01--wrap">
            <div class="sect01_flex">
                <div class="sect01_flex--item">
                
                </div>
                <div class="sect01_flex--item">
                    <figure>
                        <img
                            src="{{ 'august_logo.png' | asset_url }}"
                            alt="Image"
                            width=""
                            height=""
                            loading="lazy"
                          >
                    </figure>
                    <h2>August proposes traditional and orthodox beautiful silhouette designs created with luxurious materials in noble colors as daily luxury.</h2>
                    <a href="{{ 'collections/all' | url }}" class="btn--link btn--link__center">
                        <span>SHOP</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="base">
        <div class="bcontent">
            <figure>
                <img
                
                    class="rightImage"
                    src="{{ 'lp_sect01_img01.png' | asset_url }}"
                    alt="Image"
                    width=""
                    height=""
                    loading="lazy"
                    >
            </figure>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Top Section 01",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}