{{ 'landing-page.css' | asset_url | stylesheet_tag }}
<div class="top_LP">
    <section class="section06">
      <div class="section06--wrap">
        <div class="section06--container">
          <div class="section06_flex">
            <div class="section06_flex--item">
              <figure>
                <img 
                  src="{{ 'lp_sect06_img01.png' | asset_url }}"
                  alt="Image"
                  width=""
                  height=""
                  loading="lazy"
                >
              </figure>
            </div>
            <div class="section06_flex--item">
              <h3>ON SALE ITEMS</h3>
              <p>
                オーガストは、贅沢な素材でつくる、<br />
                伝統的であり正統派な美しいシルエットデザインをノーブルカラーに彩り、<br />
                デイリーラグジュアリーとしてご提案します。.
              </p>
              <a href="{{ '/collections/all' | link }}" class="btn--link btn--link__left">
                <span>VIEW</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% schema %}
  {
    "name": "Top Section 06",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}