{{ 'landing-page.css' | asset_url | stylesheet_tag }}
<div class="top_LP">
    <section class="section05">
        <div class="section05__wrap">
            <p class="section05__title">CONCEPT</p>
            <div class="l-container">
                <div class="sect05-bg">
                    <img 
                      src="{{ 'lp_sect05_img01.jpg' | asset_url }}"
                      alt="Image"
                      width=""
                      height=""
                      loading="lazy"
                    >
                </div>
                <figure>
                    <img src="{{ 'august_logo.png' | asset_url }}" alt="Image" width="" height="" loading="lazy" />
                </figure>
                <p class="desc">
                オーガストは、贅沢な素材でつくる、<br class="sp" />伝統的であり正統派な美しい<br />
                シルエットデザインをノーブルカラーに彩り、<br class="sp" />デイリーラグジュアリーとしてご提案します。
                </p>
                <a href="{{ '/pages/concept' | link }}" class="btn--link btn--link__center">
                    <span>VIEW</span>
                </a>
            </div>
        </div>
    </section>
</div>

{% schema %}
  {
    "name": "Top Section 05",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}