{{ 'landing-page.css' | asset_url | stylesheet_tag }}
<div class="top_LP">
    <section class="section06">
      <div class="section06--wrap">
        <div class="section06--container">
          <div class="section06_flex">
            <div class="section06_flex--item">
            <div class="base03">
              <a href="{{ 'collections/all' | url }}" class="image_button">
                <figure>
                  <img 
                    src="{{ section.settings.image | img_url: 'master' }}"
                    alt="Image"
                    width=""
                    height=""
                    loading="lazy"
                  >
                </figure>
              </a>
            </div>
            </div>
            <div class="section06_flex--item">
              <h3>{{ section.settings.text }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% schema %}
  {
    "name": "Top Section 06",
    "settings": [
      {
          "type": "text",
          "label": "Text",
          "id": "text"
      },
      {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}