.Concept-Page--content {
  background-color: #ffffff;
}
.Concept-Page .section01 {
  position: relative;
}
.Concept-Page .section01 .left-base {
  width: 50%;
  position: absolute;
  right: 50%;
  left: 0;
  top: 300px;
}
.Concept-Page .section01 .left-base figure {
  margin: 0;
}
.Concept-Page .section01 .left-base figure img {
  width: 100%;
}
.Concept-Page .section01 .txt-sp {
  padding: 0 30px;
}
.Concept-Page .section01 .txt-sp .p-small {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #ccc1ad;
  text-align: left;
  margin: 0 !important;
}
.Concept-Page .section01 .txt-sp .p-black {
  text-align: left;
  font-size: 12px;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  line-height: 30px;
  letter-spacing: 2.4px;
  padding: 17px 0;
  font-weight: 100;
  margin: 0 !important;
}
.Concept-Page .section01--title {
  font-family: ivymode, sans-serif;
  font-size: 150px;
  color: #ccc1ad;
  font-weight: 100;
  text-align: left;
  line-height: 140px;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 !important;
}
.Concept-Page .section01--wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 94px 100px;
}
.Concept-Page .section01--wrap .sect01_flex {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.Concept-Page .section01--wrap .sect01_flex--item img {
  width: 100%;
  height: 100%;
}
.Concept-Page .section01--wrap .sect01_flex--item figure {
  margin: 0;
  padding: 0;
}
.Concept-Page .section01--wrap .sect01_flex--item:first-child {
  width: 688px;
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child {
  width: calc(100% - 688px);
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child figure {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 60px;
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child figure::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child img {
  width: 197px;
  height: 34px;
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child .p-small {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #ccc1ad;
  text-align: left;
}
.Concept-Page .section01--wrap .sect01_flex--item:last-child .p-black {
  text-align: left;
  font-size: 15px;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  line-height: 50px;
  letter-spacing: 2.5px;
  padding-top: 50px;
  font-weight: 100;
}
.Concept-Page .section01--wrap .sect01_flex .right {
  padding: 0 72px 0 35px;
}
.Concept-Page .section02 {
  position: relative;
  overflow: hidden;
  /* margin-top: 31.968vw; */
  margin-bottom: 100px;
}
.Concept-Page .section02 span {
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #ccc1ad;
  width: 200%;
  transform: rotate(-30deg);
  transform-origin: bottom left;
  bottom: 0;
}
.Concept-Page .section02--wrap_sp-txt {
  font-size: 12px;
  padding: 40px 29.8px 0;
  line-height: 28px;
  letter-spacing: 1.2px;
  font-weight: 100;
}
.Concept-Page .section02--title {
  font-size: 10px;
  color: #000000;
  width: 100%;
  text-align: center;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
}
.Concept-Page .section02--content {
  /* max-width: 1366px; */
  /* padding: 0 100px; */
  /* margin: 0 auto; */
  display: flex;
  position: relative;
  /* margin-top: 192px; */
}
.Concept-Page .section02--content .left--image {
  width: 50%;
  margin: 0 !important;
  overflow: hidden;
}
.Concept-Page .section02--content .left--image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Concept-Page .section02--content .right--desc {
  width: 50%;
  max-width: 442px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}
.Concept-Page .section02--content .right--desc p {
  font-size: 10px;
  font-family: "Hiragino Kaku Gothic ProN";
  letter-spacing: 1px;
  line-height: 20px;
}
.Concept-Page .section02--content .august {
  position: absolute;
  z-index: 3;
  right: 181px;
  top: 0;
  margin: 0;
}
.Concept-Page .section02--content span {
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #ccc1ad;
  width: 200%;
  transform: rotate(-50deg);
  transform-origin: bottom left;
  bottom: 0;
  left: 0;
}
.Concept-Page .section02--left {
  width: 33.3333333333%;
  z-index: 5;
  position: relative;
  padding-top: 75px;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-weight: 100;
}
.Concept-Page .section02--center {
  width: 33.3333333333%;
  position: relative;
  z-index: 2;
}
.Concept-Page .section02--center figure {
  margin: 0px -45px;
}
.Concept-Page .section02--center figure img {
  width: 100%;
}
.Concept-Page .section02--right {
  z-index: 5;
  width: 33.3333333333%;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-bottom: 44px;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-weight: 100;
}
.Concept-Page .section03--base {
  position: relative;
}
.Concept-Page .section03--base picture {
  margin: 0;
  height: 431px;
}
.Concept-Page .section03--base picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.Concept-Page .section03--wrap {
  max-width: 1366px;
  padding: 0 100px;
  margin-top: -149px;
  padding-bottom: 190px;
  margin: 0 auto;
}
.Concept-Page .section03--base__img .p1 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 20px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: normal;
}
.Concept-Page .section03--wrap .p2 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  max-width: 390px;
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: normal;
}
.shopify-section-group-header-group {
  z-index: 10 !important;
}

/* 
	RESPONSIVE
  */
@media only screen and (min-width: 1367px) {
  .Concept-Page .section02 span {
    transform: rotate(-27.5deg);
  }
}
@media only screen and (min-width: 1366px) {
  .Concept-Page .section01 .txt-sp {
    display: none;
  }
}
/* @media only screen and (max-width: 1367px) {
  .Concept-Page .section02 {
    margin-top: 28vw;
  }
} */
@media only screen and (max-width: 1366px) {
  .pc-only-bigger {
    display: none !important;
  }
  .Concept-Page .section01 .left-base {
    position: relative !important;
    top: -25px !important;
    width: calc(100% - 30px);
  }
  .Concept-Page .section01--wrap {
    padding: 48px 30px 0;
  }
  .Concept-Page .section01--title {
    font-size: 55px;
    line-height: 47px !important;
  }
}
@media only screen and (min-width: 1001px) {
  .Concept-Page .section01--title br {
    display: none;
  }
  .Concept-Page .section01 .sp-only {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .sp-only {
    display: none !important;
  }
}
@media only screen and (max-width: 898px) {
  .Concept-Page .section02--center figure img {
    padding: 0 5.333vw;
  }
}
@media only screen and (max-width: 1000px) {
  .section02--center {
    width: 100% !important;
  }
  .Concept-Page .section02--center figure img {
    padding: 0 20px;
  }
  .Concept-Page .section01 .pc-only {
    display: none;
  }
  .Concept-Page .section01--wrap .sect01_flex--item:first-child {
    width: 100% !important;
  }
}
@media only screen and (max-width: 899px) {
  .Concept-Page .section02--content {
    flex-direction: column;
  }
  .Concept-Page .section02--content .right--desc,
  .Concept-Page .section02--content .left--image {
    width: 100%;
  }
  .Concept-Page .section02--title {
    padding: 40px 0 38px;
  }
  .Concept-Page .section02--content .left--image {
    padding: 50px 0 0 40px;
  }
  .Concept-Page .section01 .txt-sp .p-small {
    padding-top: 16px;
  }
  .Concept-Page .section01 .txt-sp .p-black {
    padding: 8px 0 17px;
  }
  .pc-only {
    display: none !important;
  }
  /* .Concept-Page .section02--title {
    font-size: 55px;
    line-height: 50px !important;
    margin-bottom: 55px;
    margin-top: 0;
    font-weight: 100;
  } */
  .Concept-Page .section02--content .august {
    top: unset;
    bottom: 0;
    right: unset;
    width: 100%;
    left: 0;
  }
  .Concept-Page .section02--content .august img {
    width: 100%;
    padding: 0 100px;
  }
  /* .Concept-Page .section02--content {
    padding-bottom: 18px;
    margin-top: 25px;
  } */
  /* .Concept-Page .section02 {
    margin-top: 139px;
    margin-bottom: 157px;
  } */
  .Concept-Page .section02 {
    margin-bottom: 40px;
  }
  .section03--wrap {
    padding: 0 20px !important;
    margin-top: 40px !important;
  }
  .section03--wrap p {
    max-width: unset !important;
    margin-left: unset !important;
  }
  .Concept-Page .section03--base picture img {
    padding-right: 30px;
    height: 460px !important;
  }
  .section03 {
    padding-bottom: 100px;
  }

  .Concept-Page .section03--base__img .p1 {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 426px) {
  .sp-only-smaller {
    display: none !important;
  }
}
@media only screen and (max-width: 425px) {
  .Concept-Page .section02--content span {
    transform: rotate(-46deg);
  }
}
@media only screen and (max-width: 360px) {
  .Concept-Page .section02--content span {
    transform: rotate(-42deg);
  }
}

/* COMPONENT  */
@media only screen and (min-width: 900px) {
  .section05__wrap .l-container {
    padding-top: 240px;
    padding-bottom: 96px;
    max-height: 762px;
    height: 55.783vw;
  }

  .top_LP .section01--wrap .sect01_flex--item:last-child {
    padding: 0 20px;
  }
  .Concept-Page .section03--base__img .p1 {
    position: absolute;
    max-width: 390px;
    left: -221px;
    top: 100px;
    margin: 0;
    max-width: 390px;
  }
  .Concept-Page .section03--wrap .p2 {
    padding-top: 100px;
  }

  .Concept-Page .section03--base__img {
    max-width: 683px;
    margin: 0 auto;
    width: 50.732vw;
    position: relative;
  }
}
@media only screen and (max-width: 1366px) {
  .section05__wrap .l-container {
    padding-top: 17.57vw;
  }
}
@media only screen and (max-width: 899px) {
  .section05__wrap {
    position: relative;
  }
  .section05__wrap .l-container {
    padding-top: 184px;
    padding-bottom: 100px;
  }
  .section05__wrap .l-container figure {
    padding-bottom: 30px;
  }
  .section05__wrap .l-container figure img {
    max-width: 160px;
  }
  .section05__wrap .l-container .desc {
    margin-bottom: 45px;
    padding-top: 10px;
    max-width: 236px;
    color: #000000 !important;
  }
  .section05__wrap .l-container .descPD {
    margin-bottom: 60px;
    padding-top: 10px;
  }
  .section05__wrap .l-container .sect05-bg img {
    height: 100%;
  }
  .section05__wrap .l-container figure {
    padding-bottom: 30px;
  }
  .section05__wrap .l-container figure img {
    max-width: 160px;
  }

  .section05__wrap .btn--link__center span {
    color: #000000 !important;
  }
  .section05__wrap .btn--link__center {
    text-decoration-color: #000000 !important;
    color: #000000 !important;
  }

  .section05__wrap .btn--link span {
    font-size: 10px;
    letter-spacing: 3px;
    font-family: "Hiragino Kaku Gothic ProN";
    font-weight: 300;
    text-indent: 5px;
    color: #000000;
  }

  .section05__title {
    color: #000000 !important;
  }
}
.section05__title {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 20px;
}

.section05__wrap {
  position: relative;
}

.section05__wrap .l-container {
  z-index: 1;
  position: relative;
}

.section05__wrap .l-container figure {
  text-align: center;
  position: relative;
}
.section05__wrap .l-container figure img {
  max-width: 205.31px;
}
.section05__wrap .l-container .sect05-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 0%,
    transparent 0%,
    black 0%
  );
  mask-image: radial-gradient(
    circle at center,
    transparent 0%,
    transparent 0%,
    black 0%
  );
}
.section05__wrap .l-container .sect05-bg img {
  width: 100%;
  object-fit: cover;
  object-position: 10% 30%;
}
.section05__wrap .l-container .desc {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  max-width: 510px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.section05__wrap .l-container .descPD {
  margin: 40px auto 60px;
}
.section05__wrap .btn--link {
  border: unset !important;
  border-radius: unset !important;
  background-color: unset !important;
  width: 100% !important;
}
.section05__wrap .btn--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: unset !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: unset !important;
  height: unset !important;
  border: unset !important;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.section05__wrap .btn--link__center {
  margin: 0 auto !important;
  display: flex !important;
  background-color: unset !important;
  text-decoration-color: #ffff !important;
  font-size: 10px !important;
  font-family: "Hiragino Kaku Gothic ProN" !important;
}
.section05__wrap .btn--link__center span {
  color: #ffff !important;
}
.section05__wrap .btn--link__center {
  margin: 0 auto !important;
  display: flex !important;
  background-color: unset !important;
  text-decoration-color: #ffff !important;
  font-size: 10px !important;
  font-family: "Hiragino Kaku Gothic ProN" !important;
}
.section05__wrap .btn--link__center span {
  color: #ffff !important;
}
