{{ 'page-privacy.css' | asset_url | stylesheet_tag }}
<div class="Privacy-Page">
  <section class="section01">
    <div class="section01--wrap">
      {% section 'custom-privacy-list' %}
    </div>
  </section>
</div>