{{ 'page-company.css' | asset_url | stylesheet_tag }}
    <div class="Company-Page">
      <section class="section01">
        <div class="section01--wrap">
          <h3 class="Company-Page--title">COMPANY</h3>
          <div class="Company-Page-content">
            <figure class="">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.3195940985569!2d123.90574045874014!3d10.319592325191982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9993e655070c1%3A0x9c674ac1180cde66!2sAyala%20Life%20-%20FGU%20Center!5e0!3m2!1sen!2sph!4v1689321378874!5m2!1sen!2sph"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </figure>
            <div class="company-details">
              <p>
                <span class="company-details-txt01">会社名</span>
                <span class="company-details-txt02">xxxxxxxxxxxxxxxx</span>
              </p>
              <p>
                <span class="company-details-txt01">代表者</span>
                <span class="company-details-txt02">xxxxxxxxxxxxxxxx</span>
              </p>
              <p>
                <span class="company-details-txt01">電話番号</span>
                <span class="company-details-txt02">xxxxxxxxxxxxxxxx</span>
              </p>
              <p>
                <span class="company-details-txt01">住所</span>
                <span class="company-details-txt02">xxxxxxxxxxxxxxxx</span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>